.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.brand-img {
  margin-bottom: 4px;
}

.brand-title {
  margin: 0 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}

.movie-btn {
  background-color: transparent;
  border: 1px solid #555b67;
  color: #9faab2;
}

.movie-modal-btn {
  background-color: transparent;
  border: 1px solid #555b67;
  color: #9faab2;
}

.movie-modal-btn:hover,
.movie-modal-btn:active,
.movie-modal-btn:visited {
  background-color: transparent !important;
  border: 1px solid #fff !important;
  color: #fff !important;
}

.movie-btn:hover,
.movie-btn:active,
.movie-btn:visited,
.show > .btn-primary.dropdown-toggle {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #343a40 !important;
}

.movie-btn:hover > .account-icon,
.show > .btn-primary.dropdown-toggle > .account-icon {
  color: #343a40;
}

.dropdown-menu {
  min-width: 128px;
  max-width: 100%;
}

.dropdown-item:active {
  background-color: transparent;
  color: #212529;
}

.account-icon {
  transition: transform 0.1s;
  color: #9faab2;
}

#mainContent,
#favoritesContent {
  margin-top: 120px;
}

.movie-navbar {
  position: fixed;
  top: 0;
  z-index: 99999;
}

.grid-title {
  font-weight: bold;
  color: #8e9094;
  margin-bottom: 15px;
}

.show > .btn-primary.dropdown-toggle .account-icon {
  transform: rotate(180deg);
}

.movie-card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.movie-card > .card-img-overlay {
  display: none;
}

.movie-card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0);
}

.movie-card:hover > .card-img-overlay {
  display: flex;
}

.card-img-overlay {
  color: #fff;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.68);
  top: unset;
}

.card-title {
  margin-bottom: 0;
}

.page-link {
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: #a3a5ab;
}

.page-link:hover {
  color: #a3a5ab;
}

.last-page > .page-link,
.first-page > .page-link {
  color: #18b98e;
}

.active-page {
  color: #18b98e;
  font-weight: bold;
}

.modal-backdrop {
  background-color: transparent;
  /* Add the blur effect */
  filter: blur(20px);
  -webkit-filter: blur(20px);
  left: -40px;
  right: -40px;
  bottom: -40px;
  top: -20px;
  /* Full height */
  min-height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-backdrop.show {
  opacity: 1;
}

.modal-lg {
  max-width: 98%;
}

.modal.show {
  padding-right: 0 !important;
  padding-left: 0 !important;
  background-color: rgba(37, 64, 87, 0.65);
}

.modal-dialog {
  margin-top: 80px;
}

.modal-content {
  height: 100%;
  background-color: transparent;
  color: #fff;
  border: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: none;
}

.modal-header-btn {
  color: #9faab2;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.modal-header-btn.back .modal-btn-icon {
  margin-right: 20px;
  font-size: 16px;
}

.modal-header-btn.next .modal-btn-icon {
  margin-left: 20px;
  font-size: 16px;
}

.modal-header-btn.next.hidden {
  display: none;
}

.title-wrapper {
  height: 80px;
}

.title-wrapper > h2 {
  font-size: 40px;
}

.movie-modal-btn {
  height: 40px;
  align-self: flex-start;
}

.movie-modal-btn:disabled {
  display: none;
}

.movie-info {
  font-size: 20px;
  margin-top: 10px;
}

.list-inline-item:not(:last-child) {
  margin-right: 1rem;
  border-right: 1px solid #9faab2;
  padding-right: 20px;
}

.movie-overview {
  border-top: 1px solid #9faab2;
  border-bottom: 1px solid #9faab2;
  padding: 20px 0;
  margin-top: 50px;
}

.favorite-movie .title-wrapper {
  height: 60px;
}

.favorite-movie .title-wrapper > h2 {
  font-size: 25px;
  font-weight: bold;
}

.fav-movie-poster {
  cursor: pointer;
}

.favorite-movie .movie-overview {
  border: none;
  text-align: left;
  font-size: 18px;
}

.unfav-btn {
  background-color: transparent;
  border-color: #343a40;
  color: #343a40;
  height: 40px;
}

.unfav-btn:hover,
.unfav-btn:active {
  background-color: #343a40 !important;
  border-color: #343a40 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1440px) {
  .modal-content {
    width: 75%;
    margin: 0 auto;
  }

  .fav-page-heading,
  .favorite-movie {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  #favoritesContent .grid-title {
    margin-left: 6%;
  }
}

@media (max-width: 1024px) {
  .favorite-movie {
    padding-right: 15px;
  }
}

@media (max-width: 992px) {
  .page-link {
    padding: 0.5rem;
  }

  .dropdown-menu {
    left: -85px;
  }

  .movie-info {
    font-size: 18px;
    margin-top: 0;
  }

  .movie-overview {
    margin-top: 20px;
  }

  .movie-info li:not(:last-child) {
    margin-bottom: 25px;
    border: none;
  }

  .title-wrapper {
    flex-direction: column;
    text-align: left;
  }

  .favorite-movie .title-wrapper > h2 {
    font-size: 18px;
  }

  .unfav-btn {
    width: 60%;
  }
}

@media (min-width: 576px) {
  .modal-lg {
    height: calc(100% - (1.75rem + 80px));
  }
}
